@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Nissan! 🚘🚘🚘 - this is your .NET Core Sample Application on AWS Elastic Beanstalk</h1>
    <p>Learn about <a href="https://aws.amazon.com/sdk-for-net/">AWS SDK for .NET</a>.</p>
    <img src="https://d1.awsstatic.com/OHM-Opus-AWSMexico-AWSBooth-20.854da9ad264f0013dee3883a1b405aa0eabd179c.jpg" alt="AWS Summit">
</div>
